<h1>Listing unfriendly_books</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Publisher</th>
    <th>Author</th>
  </tr>

<% @unfriendly_books.each do |unfriendly_book| %>
  <tr>
    <td><%=h unfriendly_book.name %></td>
    <td><%=h unfriendly_book.publisher_id %></td>
    <td><%=h unfriendly_book.author_id %></td>
    <td><%= link_to 'Show', unfriendly_book %></td>
    <td><%= link_to 'Edit', edit_unfriendly_book_path(unfriendly_book) %></td>
    <td><%= link_to 'Destroy', unfriendly_book, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New unfriendly_book', new_unfriendly_book_path %>