<h1>Editing book</h1>

<% form_for(@book) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :cached_slug %><br />
    <%= f.text_field :cached_slug %>
  </p>
  <p>
    <%= f.label :publisher_id %><br />
    <%= f.text_field :publisher_id %>
  </p>
  <p>
    <%= f.label :author_id %><br />
    <%= f.text_field :author_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>